@font-face {
    font-family: "koverwatch";
    src: url("./images/koverwatch.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

:root {
    --ui-blue: rgb(60, 204, 239);
    --ui-red: rgb(238, 41, 85);
}

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;

    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;

    /* 텍스트나 이미지가 선택되는 것 방지 */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    background: rgb(30, 30, 30);
    color: white;

    display: flex;
    flex-direction: column;

    height: 100vh;
}

#ui-header {
    display: flex;
    height: 4rem;

    align-items: center;

    margin: 0 1rem;
}

.ui-hr {
    border: 0;
    /* 기본 테두리 제거 */
    height: 1px;
    /* 선의 두께 */
    background: linear-gradient(to right,
            transparent 0%,
            white 10%,
            white 90%,
            transparent 100%);
}

#ui-layout {
    /* height: 80vh; */

    padding: 2rem;

    -webkit-overflow-scrolling: touch;
}

.ui-rates-container {
    display: grid;

    grid-template-columns: repeat(7, 1fr);
    gap: 1rem;
}

.ui-rate-card {
    /* background: white; */

    width: 100%;
    aspect-ratio: 3 / 4;

    overflow: hidden;
    white-space: nowrap;

    /* filter: drop-shadow(0 0 1px var(--ui-blue)); */
    /* drop-shadow(0 0 3px var(--ui-blue))
        drop-shadow(0 0 10px var(--ui-blue))
        drop-shadow(0 0 20px var(--ui-blue)); */
    filter:
        drop-shadow(0 0 1px var(--ui-blue)) drop-shadow(0 0 1px var(--ui-blue)) drop-shadow(0 0 1px var(--ui-blue)) drop-shadow(0 0 1px var(--ui-blue));

    overflow: hidden;
    transition: filter 0.3s ease-in-out;


}

.ui-rate-card:hover {
    filter:
        drop-shadow(0 0 1px var(--ui-blue)) drop-shadow(0 0 3px var(--ui-blue)) drop-shadow(0 0 10px var(--ui-blue)) drop-shadow(0 0 20px var(--ui-blue));
}

.ui-rate-card-border {
    width: 100%;
    height: 100%;

    background-color: var(--ui-blue);

    clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 50% 100%, 0% 80%);
}

.ui-rate-card-data {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

    background: linear-gradient(-8deg,
            hsl(206, 11%, 4%) 0%,
            hsl(206, 11%, 4%) 16%,
            hsl(206, 11%, 12%) 16%,
            hsl(206, 11%, 12%) 52%,
            hsl(206, 11%, 18%) 52%,
            hsl(206, 11%, 18%) 100%);
    background-size: 100% 160%;
    background-position: center 100%;
    background-repeat: no-repeat;
    /* background-color: rgb(28, 32, 35); */
}

.ui-rate-card-profile {
    position: relative;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: space-evenly;

    width: 100%;
    height: 80%;
}

.ui-rate-card-profile-portrait-container {
    position: relative;
    display: flex;

    justify-content: center;
    align-items: center;

    width: 50%;
    height: 50%;

    place-items: center;
}

.ui-rate-card-profile-portrait {
    position: absolute;

    width: 100%;
    aspect-ratio: 0.866;

    /* background: red; */
    background-color: hsl(0, 0%, 16%);

    /* 위, 오른쪽 위, 오른쪽 아래, 아래, 왼쪽 아래, 왼쪽 위 순서 */
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);

    overflow: hidden;
}

.ui-rate-card-profile-portrait img {
    width: 100%;
    height: 100%;
}

.ui-rate-card-profile-border {
    position: absolute;

    width: 200%;
    aspect-ratio: 1;
}

.ui-rate-card-profile-label {
    font-family: 'koverwatch', sans-serif;
    font-size: 1.6rem;
    font-style: italic;
    padding-right: 0.2ch;
}

.ui-rate-card-gpa {
    font-family: "koverwatch", sans-serif;
    font-size: 2rem;
    font-style: italic;

    color: var(--ui-blue);
    text-align: center;

    display: grid;
    place-items: center;
}

.ui-rate-card-gpa-background {
    /* width: 3.5ch; */
    /* height: 3.2rem; */
}

.ui-rate-card-gpa-background::before {
    width: 4.8ch;
    height: 25%;

    content: "";
    position: absolute;

    transform: translateX(-1ch);

    background: linear-gradient(to top, var(--ui-blue), transparent 100%);
}

.ui-rate-card-gpa span {
    margin-right: 0.5ch;
}

#review-layout {
    width: 100%;
    height: 100%;

    padding: 32px;
}

#review-layout> :first-child {
    margin-bottom: 12px;
}

.review-container {
    position: relative;

    /* border: ; */
    width: 100%;
    height: 50%;

    overflow: hidden;
}

.review-background {
    position: absolute;
    display: flex;

    align-items: center;

    width: 60%;
    height: 100%;

    padding: 0 0rem;
    box-sizing: border-box;
}

.review-top {
    left: 3%;
}

.review-bottom {
    right: 3%;

    flex-direction: row-reverse;
}

.review-background::before {
    position: absolute;

    display: block;
    content: "";

    width: 100%;
    height: 100%;

    border: 2px solid var(--ui-blue);
    background: linear-gradient(-6deg,
            hsl(206, 11%, 4%) 0%,
            hsl(206, 11%, 4%) 16%,
            hsl(206, 11%, 12%) 16%,
            hsl(206, 11%, 12%) 52%,
            hsl(206, 11%, 18%) 52%,
            hsl(206, 11%, 18%) 100%);
    background-size: 100% 240%;
    background-position: center 82.5%;
    background-repeat: no-repeat;

    z-index: -1;

    transform: skewX(-20deg);

    box-sizing: border-box;
}

.review-portrait {
    position: relative;

    display: flex;
    justify-content: center;
    /* 가로 중앙 */
    align-items: center;
    /* 세로 중앙 */

    width: 12.5%;
    margin: 0 4rem 2rem;

    aspect-ratio: 0.866;
}

.review-portrait-container {
    position: absolute;

    width: 100%;
    aspect-ratio: 0.866;

    /* background: red; */
    background-color: hsl(0, 0%, 16%);

    /* 위, 오른쪽 위, 오른쪽 아래, 아래, 왼쪽 아래, 왼쪽 위 순서 */
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);

    overflow: hidden;
}

.review-portrait-container img {
    width: 100%;
    height: 100%;
}

.review-content {
    font-family: "koverwatch", sans-serif;
    font-size: 1.6rem;
    font-style: italic;
}

.review-stars {
    font-size: 2rem;
    /* letter-spacing: -4px; */
}

.review-stars span {
    color: transparent;
    background: white;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.review-stars .half {
    --ratio: 50%;

    color: transparent;
    background: linear-gradient(to right,
            white,
            white var(--ratio),
            transparent var(--ratio),
            transparent);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 768px) {
    #ui-layout {
        overflow-x: scroll;

        height: 100%;
    }

    .ui-rates-container {
        display: flex;

        width: 700%;

        flex-direction: row;
        flex-wrap: wrap;

        gap: 1rem;
        grid-template-columns: none;
    }

    .ui-rate-card {
        width: 13.6562%;
    }

    #review-layout {
        display: none;
    }
}

@media screen and (orientation: landscape) and (max-width: 950px) {
    #ui-layout {
        overflow-x: scroll;
        height: 100%;
    }

    .ui-rates-container {
        width: max-content;
        height: 100%;
    }

    .ui-rate-card {
        width: auto;
        height: 100%;
    }

    #review-layout {
        display: none;
    }
}